body {
    font-family: 'Sen', sans-serif !important;
}

ul {
    list-style-type: none;
    padding: 0px;
}

p {
    margin: 0px !important;
}

.main-container, .search-container {
    border-radius: 10px;
    background-color: rgba(231, 231, 231, 0.802);
    width: 30vmax !important;
    color: black;
    margin: 50px 0px;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
  }
  
  .background-vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
  }
  
  .video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px; /* adjust as needed */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.849), transparent);
    z-index: 1;
    pointer-events: none;
  }


/* ======================================= */

.headerRow {
    transition: all 0.3s ease-in-out;
}

.logoImg {
    width: 70px;
    margin-top: 15px;
    transition: all .4s ease-in-out;
    border-radius: 100%;
    border: 1px solid rgb(121, 121, 121);
}

.logoImg:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

.title {
    margin-top: 1.75vmax;
    font-size: 3vmax;
    padding: 0px !important;
    color: rgb(29, 29, 29);
    font-weight: bold;
}

#currentCity {
    font-size: 1.5vmax;
    color: rgb(61, 61, 61);
}

.datetext {
    font-size: 1.25vmax;
    margin-top: 1.75vmax;
}

/* ======================================= */

.search-txt {
    font-size: 1.25vmax;
}

.searchDiv {
    padding-top: 20px;
}

#city-search {
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 10px;
    border: 0.1px solid gray !important;
}

#city-search:hover {
    background-color: rgb(61, 61, 61);
    color: white;
}
.search-btn{
    width: 80px;
    background-color: rgba(57, 144, 226, 0.575);
    border-radius: 10px;
    border: 0.1px solid gray !important;
    color: white;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}

.search-btn:hover {
    background-color: rgb(57, 144, 226);
}

.historyBtn {
    transition: all 0.1s ease-in-out;
    font-size: 1.2vmax;
    margin-bottom: 5px;
    background: none;
    border: none;
}

.historyBtn:hover {
    font-weight: bold;
}

.historyBtn:focus {
    color: red
}

/* ======================================= */

.currentWeatherRow {
    padding: 30px;
}
.weatherResultsCol {
    padding: 0px !important;
}

.weatherFlex {
    display: flex;
}

.weather-icon {
    float: right;
}

.location {
    font-size: 2vmax;
    margin: 0px;
}
.currentTemp {
    font-size: 4vmax;
    font-weight: bold;
    margin: 0px;
}
#weatherIcon {
    font-size: 5.5vmax;
    color: #f4cb00;
}
#currentCondition {
    font-size: 2vmax;
}


/* ======================================= */

.FDFrow {
    margin-top: 20px;
}

.FDFbtn {
    width: 240px;
    height: 50px;
    background-color: rgba(57, 144, 226, 0.575);
    color: white;
    transition: all 0.2s ease-in-out;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    border: 2px solid rgb(0, 0, 0);
}

.FDFbtn:hover {
    background-color: rgb(57, 144, 226);
    border: 2px solid white;
    transform: scale(1.05)
}

.currentcity {
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
    color: white;
}

.dayBoxes {
    background-color: rgba(80, 80, 80, 0.596);
    margin: 10px;
    margin-bottom: 60px;
    transition: all 0.3s ease-in-out;
    color: white;
    text-shadow: 2px 2px 1px black;
    font-size: 25px;
}

.dayBoxes:hover {
    border: 1px solid white;
    transform: scale(1.05);
    background-color: rgba(80, 80, 80, 0.849);
}

.daysdate {
    text-decoration: underline;
}

.fiveDFDiv {
    text-align: center;
}


/* SCROLL BAR: */

/* width */
::-webkit-scrollbar {
    width: 12px;
    transition: all 0.3s ease-in-out !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #727272; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1f76ac; 
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #125783; 
    border: 1px solid rgb(255, 255, 255);
  }