body {
    background-color: white !important;
    font-family: 'Sen', sans-serif !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.logoImg {
    width: 50px;
    height: 50px;
    transition: all .4s ease-in-out;
}

.logoImg:hover {
    transform: scale(1.4);
    transition: 0.4s;
}

.title {
    font-size: 45px;
}

.header {
    background-color: rgb(88, 88, 88);
    border: 1px solid black;
    box-shadow: 0px 0px 10px black;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

#city-search {
    text-align: center;
    box-shadow: 0px 0px 3px black;
    margin-right: 5px;
    border-radius: 20px;
}

button:focus {
    outline: none !important;
}

input:focus {
    outline: none !important;
}

button, .historyBtn {
    box-shadow: 0px 0px 3px black;
    border-radius: 20px !important;
    background-color: rgb(57, 144, 226);
    color: white;
    transition: all .4s ease-in-out;
}

button:hover, .historyBtn:hover {
    transform: scale(1.2);
    transition: 0.4s;
    background-color: rgb(25, 92, 155)
}

hr.divider { 
    margin: 20px !important;
    border-width: 2px;
    background-color: black;
}

.currentWeather {
    background-color: rgb(212, 212, 212);
    box-shadow: 0px 0px 10px rgb(83, 83, 83);
}

.dayBoxes {
    background-color: rgb(212, 212, 212);
    box-shadow: 0px 0px 10px rgb(83, 83, 83);
    margin: 10px;
    margin-bottom: 60px;
}

.daysdate {
    text-decoration: underline;
}

.historyBtn {
    margin: 5px;
}

.fiveDFDiv {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .currentWeather {
        text-align: center;
    }

    .searchDiv {
        background-color: white;
        box-shadow: 0px 0px 10px rgb(83, 83, 83);
        padding-bottom: 10px;
    }

    .dayBoxes {
        margin: 40px;
    }
}